:root{
    --cor-cabecalho-incial: #e76;
    --cor-cabecalho-final: #c15d00;
    --cor-fudndo-body: white;
    --cor-main: #fff;
    --cor-letras-link: #fff;
    --cor-rodade: #333;
    --cor-butao-cabecalho: #ffffff6a;
    --cor-main: rgb(92, 92, 92);
    --cor-titulo-h3: #e75;
}